.s--1 {
  top: 15%;
  left: 15%;
}
.s--2 {
  top: 22%;
  left: 25%;
  transform: rotate(80deg);
}
.s--3 {
  top: 19%;
  left: 18%;
  transform: rotate(20deg);
}
.s--4 {
  top: 23%;
  left: 14%;
  transform: rotate(310deg);
}
.s--5 {
  top: 27%;
  left: 13%;
  transform: rotate(40deg);
}
.s--6 {
  top: 30%;
  left: 14%;
  transform: rotate(320deg);
}
.s--7 {
  top: 27%;
  left: 30%;
  transform: rotate(20deg);
}
.s--8 {
  top: 33.5%;
  left: 26%;
  transform: rotate(70deg);
}
.s--9 {
  top: 31%;
  left: 32%;
  transform: rotate(70deg);
}
.s--10 {
  top: 25%;
  left: 34%;
  transform: rotate(310deg);
}
.s--11 {
  top: 35%;
  left: 33%;
  transform: rotate(310deg);
  z-index: 1;
}
.s--12 {
  top: 36%;
  left: 30%;
  transform: rotate(10deg);
  z-index: 1;
}
.s--13 {
  top: 38%;
  left: 33%;
  transform: rotate(240deg);
  z-index: 1;
}
.s--14 {
  top: 35%;
  left: 10%;
  transform: rotate(110deg);
}
.s--15 {
  top: 36%;
  left: 15%;
  transform: rotate(110deg);
}
.s--16 {
  top: 36%;
  left: 21%;
  transform: rotate(90deg);
}
.s--17 {
  top: 42%;
}
.s--18 {
  top: 52%;
  left: 2%;
  transform: rotate(320deg);
}
.s--19 {
  top: 55%;
  left: 6%;
  transform: rotate(310deg);
}
.s--20 {
  top: 50%;
  left: 22%;
  transform: rotate(10deg);
}
.s--21 {
  top: 52%;
  left: 12%;
  transform: rotate(310deg);
}
.s--22 {
  top: 50%;
  left: 15%;
  transform: rotate(340deg);
}
.s--23 {
  top: 54%;
  left: 26%;
  transform: rotate(350deg);
}
.s--24 {
  top: 58%;
  left: 30%;
  transform: rotate(310deg);
  z-index: 1;
}
.s--25 {
  top: 62%;
  left: 20%;
  transform: rotate(350deg);
}
.s--26 {
  top: 64%;
  left: 6%;
  transform: rotate(30deg);
}
.s--27 {
  top: 69%;
  left: 10%;
  transform: rotate(80deg);
}
.s--28 {
  top: 74%;
  left: 10%;
  transform: rotate(320deg);
}
.s--29 {
  top: 78%;
  left: 16%;
  transform: rotate(280deg);
}
.s--30 {
  top: 72%;
  left: 24%;
  transform: rotate(300deg);
}
.s--31 {
  top: 74%;
  left: 21%;
  transform: rotate(310deg);
}
.s--32 {
  top: 72%;
  left: 20%;
  transform: rotate(90deg);
}
.s--33 {
  top: 75%;
  left: 33%;
  transform: rotate(70deg);
}
.s--34 {
  top: 79%;
  left: 31%;
  transform: rotate(90deg);
}
.s--35 {
  top: 82%;
  left: 26%;
  transform: rotate(340deg);
}
.s--36 {
  top: 87%;
  left: 24%;
  transform: rotate(70deg);
}
.s--37 {
  top: 91%;
  left: 26%;
  transform: rotate(90deg);
}
.s--38 {
  top: 78%;
  left: 42%;
  transform: rotate(80deg);
}
.s--39 {
  top: 88%;
  left: 40%;
  transform: rotate(320deg);
}
.s--40 {
  top: 81%;
  left: 56%;
  transform: rotate(80deg);
}
.s--41 {
  top: 79%;
  left: 52%;
  transform: rotate(350deg);
}
.s--42 {
  top: 68%;
  left: 62%;
  transform: rotate(330deg);
}
.s--43 {
  top: 71%;
  left: 65%;
  transform: rotate(320deg);
}
.s--44 {
  top: 69%;
  left: 73%;
  transform: rotate(330deg);
}
.s--45 {
  top: 69%;
  left: 82%;
  transform: rotate(20deg);
}
.s--46 {
  top: 67%;
  left: 77%;
}
.s--47 {
  top: 81%;
  left: 66%;
}
.s--48 {
  top: 81%;
  left: 71%;
  transform: rotate(50deg);
}
.s--49 {
  top: 86%;
  left: 67%;
  transform: rotate(30deg);
}
.s--50 {
  top: 50%;
  left: 85%;
  transform: rotate(70deg);
}
.s--51 {
  top: 36%;
  left: 72%;
  transform: rotate(300deg);
}
.s--52 {
  top: 34%;
  left: 78%;
  transform: rotate(70deg);
}
.s--53 {
  top: 39%;
  left: 77%;
  transform: rotate(110deg);
}
.s--54 {
  top: 35%;
  left: 68%;
  transform: rotate(50deg);
}
.s--55 {
  top: 8%;
  left: 18%;
  transform: rotate(40deg);
}
.s--56 {
  top: 3.5%;
  left: 25%;
}
.s--57 {
  top: 3%;
  left: 26.5%;
  transform: rotate(70deg);
}
.s--58 {
  top: 25%;
  left: 72%;
}
.s--59 {
  top: 18%;
  left: 77%;
  transform: rotate(90deg);
}
.s--60 {
  top: -2%;
  left: 47%;
  transform: rotate(90deg);
}
.s--61 {
  top: -2%;
  left: 49%;
  transform: rotate(320deg);
}
.s--62 {
  top: -2%;
  left: 58%;
  transform: rotate(290deg);
}
.s--63 {
  top: 2%;
  left: 54%;
  transform: rotate(50deg);
}
.s--64 {
  top: 5%;
  left: 46%;
  transform: rotate(350deg);
}
.s--65 {
  top: 3%;
  left: 41%;
  transform: rotate(20deg);
}
.s--66 {
  top: 30%;
  left: 49%;
  transform: rotate(90deg);
}
.s--67 {
  top: 25%;
  left: 67%;
}
.s--68 {
  top: 23%;
  left: 64%;
  transform: rotate(320deg);
}
.s--69 {
  top: 25%;
  left: 60%;
}
.s--70 {
  top: 24%;
  left: 62%;
  transform: rotate(340deg);
}
.s--71 {
  top: 14%;
  left: 63%;
  transform: rotate(300deg);
}
.s--72 {
  top: 16%;
  left: 62%;
  transform: rotate(340deg);
}
.s--73 {
  top: 23%;
  left: 55%;
}
.s--74 {
  top: 25%;
  left: 47%;
  transform: rotate(310deg);
}
.s--75 {
  top: 22%;
  left: 48%;
  transform: rotate(310deg);
}
.s--76 {
  top: 19%;
  left: 49%;
  transform: rotate(300deg);
}
.s--77 {
  top: 19%;
  left: 51%;
  transform: rotate(300deg);
}
.s--78 {
  top: 15%;
  left: 50%;
  transform: rotate(310deg);
}
.s--79 {
  top: 14%;
  left: 54%;
  transform: rotate(40deg);
}
.s--80 {
  top: 13%;
  left: 42%;
  transform: rotate(50deg);
}
.s--81 {
  top: 21%;
  left: 38%;
  transform: rotate(20deg);
}
.s--82 {
  top: 19%;
  left: 36%;
  transform: rotate(20deg);
}
.s--83 {
  top: 15%;
  left: 34%;
  transform: rotate(340deg);
}
.s--84 {
  top: 14%;
  left: 36%;
}
.s--85 {
  top: 9%;
  left: 34%;
  transform: rotate(250deg);
}
.s--86 {
  top: 6%;
  left: 33%;
}
.s--87 {
  top: 7%;
  left: 37%;
  transform: rotate(300deg);
}
.s--88 {
  top: 14%;
  left: 30%;
  transform: rotate(320deg);
}
.s--89 {
  top: 14%;
  left: 28%;
  transform: rotate(320deg);
}
/* --- Sprinkle Set Up --- */
.sprinkle {
  position: absolute;
  display: none;
}
.xs {
  width: 2%;
  height: 3%;
  border-radius: 40%;
}
.small {
  width: 2%;
  height: 4%;
  border-radius: 30%;
}
.med {
  width: 2%;
  height: 5%;
  border-radius: 30%;
}
.large {
  width: 2%;
  height: 6%;
  border-radius: 30%;
}
.yellow {
  background-color: rgb(255, 223, 75);
}
.white {
  background-color: rgb(255, 255, 255);
}
.pink {
  background-color: rgb(255, 37, 168);
}
.red {
  background-color: rgb(224, 5, 30);
}
.orange {
  background-color: rgb(255, 134, 31);
}
.purple {
  background-color: rgb(72, 46, 136);
}
.green {
  background-color: rgb(30, 86, 55);
}
.blue {
  background-color: rgb(20, 115, 203);
}
